<div align="center">
<table class="answer" width="700px" height="400px"> {{!-- create a 2x2 table to insert all possible ansers + one headline with the question --}}
  <tr height="26%" border-bottom: 1px>
    <th colspan="2">
        <h3 class="topic" align="middle">{{question}}</h3>
    </th>      
  </tr>
  <tr height="37%">
    <td width="50%">
        <input type="radio" id="first" name="answer" value="0"/>
        <label for="first" align="middle" {{{colors.[0]}}}>{{answers.[0]}}</label>
    </td>
    <td width="50%">
        <input type="radio" id="second" name="answer" value="1"/>
        <label for="second" align="middle" {{{colors.[1]}}}>{{answers.[1]}}</label>
    </td>
  </tr>
  <tr height="37%">
    <td width="50%">
        <input type="radio" id="third" name="answer" value="2"/>
        <label for="third" align="middle" {{{colors.[2]}}}>{{answers.[2]}}</label>
    </td>
    <td width="50%">
        <input type="radio" id="fourth" name="answer" value="3"/>
        <label for="fourth" align="middle" {{{colors.[3]}}}>{{answers.[3]}}</label>
    </td>
  </tr>
</table>
</div>
